body, html {
    height: 100%;
    margin: 0;
}

.bg { 
    /* The image used */
    background-image: url("../img/image.gif");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
	position: relative; 
	top: 100px; 
	color: white;
	background-color: #5d5d5d;
	color: #e9e9e9;
	padding: 2px;
	width: 250px;
	opacity: 0.9;
}

#welcomeB {
	position: relative; 
	top: 100px; 
	color: white;
	background-color: #5d5d5d;
	color: #e9e9e9;
	padding: 2px;
	width: 180px;
	opacity: 0.9;
}

p {
	text-align: justify;
}

#left_image {
	float: left;
	/*width: 400px;
	height: 400px;size: 5%;*/
	max-height: 300px;
	max-width: 100%;
	margin-right: 50px;
}

.tab-content {
	width: 80%;
}

.tab-pane {
	min-height: 460px;
	margin-bottom: 10%;
}

.footer-week {
	color: gray !important;
}

.footer-week:hover {
	color: black !important;
}

#github {
	color: gray !important;
}

#github:hover {
	color: black !important;
}

footer {
	display: block;
	width: 100% !important;
	border-top: #eeeeee 1px solid;
	padding-bottom: 10px;
}


/* weekX.html codes below*/

.week {
	position: relative;
	top: 40px; 
	left: 40px; 
	width: 80%; 
	display: block;

}

@media only screen and (min-width: 768px) {
	.week {
		top: 10px;
		left: 10px;
	}

}

